@page "/vybaveni"

<h3>VybaveniNemocnice</h3>


 <div class="grid  grid-cols-5 gap-x-2 gap-y-1  ">
   <div class="bg-red-400 w-full h-full text-center">Whatever</div>
   <div class="bg-red-400 w-full h-full">smting elz</div>
   <button class="bg-gray-500 rounded-md mx-2 my-1">Butón</button>
     <div class="bg-red-400 w-full h-full text-center">Whatever</div>
   <div class="bg-red-400 w-full h-full">smting elz</div>
   <button class="bg-gray-500 rounded-md mx-2 my-1">Butón</button>
 </div>

@code {
    
}
